$blue:    #98aae6;
$orange:  #F0D6BD;
$yellow:  #F1D66F;
$brown:   #F0AD6D;

$info:      $orange;
$danger:    $brown;

.cus-thum{
    object-fit: cover;
    
    &.cus-thum-sm{
        max-width: 100px;
        max-height: 100px;
    }
}

.container {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
} 

p {
    max-width: 100%;
}

.hidden {
    display: none;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
